* {
    margin: auto 10px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content {
    margin-top: 20px;
    text-align: center;
}